
/* --- Contenedor Principal --- */
.contenedor {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 85vh;
    width: 50vw;
    padding: 56px 40px 20px 40px; 
    background-color: var(--color-principal);
    transition: background-color 0.6s;
    overflow: hidden;
}

/* --- Cabecera de la Página (H1) --- */
.cabecera {
    text-align: center;
    flex-shrink: 0; /*Para que no se aplaste cuando no hay espacio*/
    position: relative;
}

.cabecera-titulo {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--color-texto);
}

.tabla-wraper{
    flex: 1;           
    overflow-y: auto;  
    padding: 0 24px 24px 24px; 
}

/* --- Estructura de la Tabla --- */
.tabla-cantidad {
    width: 100%;
    border-collapse: separate; /* Necesario para bordes redondeados */
    border-spacing: 0;         /* Pega las celdas entre sí */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-borde); 
    border-radius: 10px; /* Redondea el contenedor general */
    background-color: var(--color-componente);
    transition: background-color 0.6s;
}

/* --- Cabecera de la Tabla (TH) --- */
.cabecera-tabla-cantidad th {
    padding: 12px 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--color-texto); 
    
    /* Sticky fija la cabecera de la tabla.*/
    position: sticky;
    top: 0;
    background-color: #009879;
    z-index: 10;
}
.cabecera-tabla-cantidad th:last-child {
    text-align: right;
}

/* --- Filas y Celdas (TD) --- */

.filas td {
    padding: 12px 15px;
    color: var(--color-texto);
    border-bottom: 1px solid var(--color-borde);
    width: inherit;
}

.filas td:last-child {
    text-align: right;
    font-weight: bold;
}

.filas:hover td {
    background-color: var(--color-borde); 
    cursor: default;
    transition: background-color 0.4s;
}


/* --- Bordes Redondeados (Esquinas) --- */

/* Esquina Superior Izquierda */

.cabecera-tabla-cantidad th:first-child {
    border-top-left-radius: 10px;
}

/* Esquina Superior Derecha */
.cabecera-tabla-cantidad th:last-child {
    border-top-right-radius: 10px;
}

/* Esquina Inferior Izquierda */
.tabla-cantidad tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

/* Esquina Inferior Derecha */
.tabla-cantidad tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Estilo de scrollbar */
.tabla-wraper::-webkit-scrollbar {
    width: 6px; /* Un poco más ancha para ser clicable */
}

.tabla-wraper::-webkit-scrollbar-track {
    background: transparent; 
}

.tabla-wraper::-webkit-scrollbar-thumb {
    background: var(--color-borde);
    border-radius: 4px;
}

.tabla-wraper::-webkit-scrollbar-thumb:hover {
    background: #009879; /* Al pasar el mouse por la barra */
}