
/* Estilos de los componentes padres */
.contenedor-principal {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-principal);
  margin: 0;
  padding: 0;
  transition: background-color 0.6s;
}

.contenedor-resultados{
  flex:1;
  height: 100vh;
  overflow: hidden;
  padding: 30px 30px 30px 30px;
  background-color: var(--color-principal);
  transition: background-color 0.6s;

}
