
/* TEMA CLARO */
:root {
  --color-principal: #f8f9fa ;  
  --color-componente: #ffffff;  
  --color-texto: #000000;   
  --color-borde: #a4a8ac;     
}
/* TEMA OSCURO */
[data-bs-theme="dark"] {
  --color-principal: #121212;      
  --color-componente: #212529;   
  --color-texto: #ffffff;            
  --color-borde: #373b3e;         
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--fondo-principal);
  color: var(--texto-principal);
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
